<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-md-12 d-flex justify-content-end">
            
                  <a routerLink="/ajoutProduit">Add Product</a>
             
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Product List</h3>

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" [(ngModel)]="searchInput" class="form-control float-right" placeholder="Search">

               <div class="input-group-append">
                  <!--<button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>-->
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Image</th>
                  <th>Brand</th>
                  <th>Price</th>
                  <th>Description</th>
                  <th>Number Of Parts</th>
                  <th> seller Name</th>
                  <th>Category Name</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products | filter:searchInput" id="trBlock_{{product.id}}">
                  <td>{{product.id}}</td>
                  <td>
                    <img src="http://localhost:3600/retriveImage/{{product.id}}">
                </td>
                  <td>{{product.marque}}</td>
                  <td>{{product.prix}}</td>
                  <td>{{product.description}}</td>
                  <td>{{product.nbre_piece}}</td>
                  <td><a routerLink="/">{{product.nom_vendeur}}</a></td>
                  <td><a routerLink="/">{{product.nom_category}}</a></td>
                  <td><button class="btn btn-success btn-sm rounded-0" [disabled]="product.idVend!=response.id" type="button" data-toggle="tooltip" data-placement="top" title="Edit"(click)="modifProduit(product.id)">
                      <i class="fa fa-edit"></i></button>
                  </td>
                  <td>
                    <button class="btn btn-danger btn-sm rounded-0"   type="button" data-toggle="tooltip" data-placement="top" title="Delete"(click)="deleteProduit(product.id)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>