<section class="page-slider">
    <div class="hero-banner-content">
       <div class="container">
          <div class="row">
             <div class="col-lg-6">
                <h2 class="banner-title">Login</h2>
             </div>
             <div class="col-lg-6">
                <div class="about-slider-img">
                   <img src="assets/assetsFront/images/about-slider-img.png" class="wow fadeInRight" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="" style="visibility: visible; animation-duration: 1s; animation-delay: 0.25s; animation-iteration-count: 1; animation-name: fadeInRight;">
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="ws-section-spacing" id="backC">
    <div class="container">
       <div class="row">
        <div class="col-lg-6">
            <div class="resigter-customer">
               <h4 class="">CREATE CUSTOMER ACCOUNT</h4>
               <div class="login-form">
                  <p>Creating an account has many benefits: check out faster, keep more than one address, track orders and more.</p>
               </div>
               <button class="btn btn-success btn-success_customized" (click)="goToCreateCustomerAccount()" style="width: auto;
               position: relative;
               display: block;
               margin-left: auto;
               margin-right: auto;border-radius:0;">Create</button>
            </div>
            
         </div>
          <!--NEW-CUSTOMER-->
          <div class="col-lg-6">
             <div class="resigter-customer">
              <h4 class="">CREATE VENDOR ACCOUNT</h4>
                <div class="login-form">
                   <p>Creating an account has many benefits: check out faster, keep more than one address, track orders and more.</p>
                </div>
                <button class="btn btn-success btn-success_customized" (click)="goToCreateVendorAccount()" style="width: auto;
                position: relative;
                display: block;
                margin-left: auto;
                margin-right: auto;border-radius:0;">Create</button>
             </div>
          </div>
       </div>
    </div>
 </section>