<main class="main-div home-slider slick-initialized slick-slider"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: block;">Previous</button><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 4557px;"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 1489px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;"><div><div class="slider-bg " style="width: 100%; display: inline-block;">
    <div class="hero-slider-content">
       <div class="container">
          <div class="row">
             <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="slider-content wow fadeInUp" data-wow-delay=".25s" data-wow-duration="2s" data-wow-iteration="1" style="visibility: visible; animation-duration: 2s; animation-delay: 0.25s; animation-iteration-count: 1; animation-name: fadeInUp;">
                   <h2 class="hero-sub-title">New Arrivals</h2>
                   <h1 class="hero-title">Shoe <span> Collaction </span></h1>
                   <p class="hero-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                   <a href="index.html" class="slider-btn" tabindex="0">Shop Now</a>
                </div>
             </div>
             <div class="slider-img">
                <img src="/assets/assetsFront/images/slider-img.png" class="wow fadeInRight" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="" style="visibility: visible; animation-duration: 1s; animation-delay: 0.25s; animation-iteration-count: 1; animation-name: fadeInRight;">
             </div>
          </div>
       </div>
    </div>
 </div></div></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 1489px; position: relative; left: -1519px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms linear 0s;" tabindex="-1"><div><div class="slider-bg " style="width: 100%; display: inline-block;">
    <div class="hero-slider-content">
       <div class="container">
          <div class="row">
             <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="slider-content wow fadeInUp" data-wow-delay=".25s" data-wow-duration="2s" data-wow-iteration="1" style="visibility: visible; animation-duration: 2s; animation-delay: 0.25s; animation-iteration-count: 1; animation-name: fadeInUp;">
                   <h2 class="hero-sub-title">New Arrivals</h2>
                   <h1 class="hero-title">Shoe <span> Collaction </span></h1>
                   <p class="hero-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                   <a href="index.html" class="slider-btn" tabindex="-1">Shop Now</a>
                </div>
             </div>
             <div class="slider-img">
                <img src="/assets/assetsFront/images/slider-img.png" class="wow fadeInRight" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="" style="visibility: visible; animation-duration: 1s; animation-delay: 0.25s; animation-iteration-count: 1; animation-name: fadeInRight;">
             </div>
          </div>
       </div>
    </div>
 </div></div></div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 1489px; position: relative; left: -3038px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms linear 0s;" tabindex="-1"><div><div class="slider-bg " style="width: 100%; display: inline-block;">
    <div class="hero-slider-content">
       <div class="container">
          <div class="row">
             <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="slider-content wow fadeInUp" data-wow-delay=".25s" data-wow-duration="2s" data-wow-iteration="1" style="visibility: visible; animation-duration: 2s; animation-delay: 0.25s; animation-iteration-count: 1; animation-name: fadeInUp;">
                   <h2 class="hero-sub-title">New Arrivals</h2>
                   <h1 class="hero-title">Shoe <span> Collaction </span></h1>
                   <p class="hero-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                   <a href="index.html" class="slider-btn" tabindex="-1">Shop Now</a>
                </div>
             </div>
             <div class="slider-img">
                <img src="/assets/assetsFront/images/slider-img.png" class="wow fadeInRight" data-wow-delay=".25s" data-wow-duration="1s" data-wow-iteration="1" alt="" style="visibility: visible; animation-duration: 1s; animation-delay: 0.25s; animation-iteration-count: 1; animation-name: fadeInRight;">
             </div>
          </div>
       </div>
    </div>
 </div></div></div></div></div><button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;">Next</button></main>